venv/
env/
__pycache__/
*.pyc
.vscode/
.env

.pytest_cache/

# logi
*.log

# test coverage
htmlcov/
.coverage
.coverage.*
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Django stuff
db.sqlite3
media/

# systemowe
.DS_Store
Thumbs.db

#dumps
*.json_dump
data_*.json

settings_prod.py