{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}Uczniowie{% endblock %}</h3>
{% endblock %}

{% block content %}

<div class="container custom-grid text-black">
    <div class="row">
        <div class="col-lg-12">Nazwa</div>
    </div>
    {% for student in active_users %}

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'user_activity_for_admin' student.id %}" class="d-block text-decoration-none link-dark">
                {{ student.username }}
            </a></div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}