{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
{% block title %}
{% if view_type == 'category' %}
Zadania z kategorii {{ category.name }}
{% elif view_type == 'exam' %}
Zadania z egzaminu {{ exam_level }}, {{ exam_date }} ({{  source }} )
{% elif view_type == 'assigned' %}
Zadania przypisane użytkownikowi {{ user.username }}
{% endif %}
{% endblock %}

<div class="container custom-grid text-black">
    <div class="row">
        <div class="col-lg-3">Kategoria</div>
        <div class="col-lg-3">Egzamin</div>
        <div class="col-lg-1">Nr zadania</div>
        <div class="col-lg-1">Punkty</div>
        <div class="col-lg-1">Zmienne oryginalne</div>
        <div class="col-lg-1">Zmienne losowe</div>
        {% if user.is_authenticated %}
        <div class="col-lg-2">Zadane</div>
        {% endif %}
    </div>
    {% for task in tasks %}
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group-item list-group-item-action short-content text-black">
                {% for cat in task.task.category.all %}

                {{ cat.name }},

                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="list-group-item list-group-item-action short-content text-black">
                {{ task.task.source }} - {{ task.task.task_level.exam_level }}, {{ task.task.exam_date }}
            </div>
        </div>
        <div class="col-lg-1">
            <div class="list-group-item list-group-item-action short-content text-black">
                zad {{ task.task.sub_number }}
            </div>
        </div>
        <div class="col-lg-1">
            <div class="list-group-item list-group-item-action short-content text-black">
                {{ task.task.points }} pkt
            </div>
        </div>
        <div class="col-lg-1">
            <div class="list-group-item list-group-item-action short-content text-black">

                <a href="{% url 'start_issue' task.task.id %}" class="btn btn-warning">
                    {% if user.is_authenticated %}
                    {{ task.total_attempts_original }} / {{ task.correct_attempts_original }}
                    {% else %}
                    Start
                    {% endif %}
                </a>
                <div id="wynik"></div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="list-group-item list-group-item-action short-content text-black">

                <a href="{% url 'start_issue' task.task.id %}?random=true" class="btn btn-warning">
                    {% if user.is_authenticated %}
                    {{ task.total_attempts_random }} / {{ task.correct_attempts_random }}
                    {% else %}
                    Start
                    {% endif %}
                </a>
                <div id="wynik"></div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="col-lg-2">
            <div class="list-group-item list-group-item-action short-content text-black">
                {% if task.is_assigned %}
                {% if task.is_completed %}
                <span class="badge bg-success">Zakończone</span>
                {% elif task.overdue %}
                <span class="badge bg-danger">Po terminie</span>
                {% else %}
                <span class="badge bg-warning text-dark">W trakcie (do {{ task.deadline|date:"Y-m-d H:i" }})</span>
                {% endif %}
                {% else %}
                <span class="badge bg-secondary">Nie zadane</span>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}